---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Manifesto from '../components/Manifesto.astro';
import Showcase from '../components/Showcase.astro';
import Services from '../components/Services.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Arestia Interactive - Born on the edges. Built to break through.">
  <main>
    <Hero />
    <Manifesto />
    <Showcase />
    <Services />
    <Footer />
  </main>
</Layout>
